.list-courses-detail {
  &:not(:last-child) {
  }
  .course-item-list {
    box-shadow: 0px 2px 8px rgb(227, 227, 224);
    margin-bottom: 30px;
    .course-item-image {
      position: relative;
      overflow: hidden;
      &:hover img {
        transform: scale(1.15);
      }
      img {
        transform: translateZ(0);
        transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      }
    }
    .course-item-content {
      background-color: #fff;
      .course-item-title {
        padding: 20px 20px 5px;
        h6 {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          min-height: 50px;
          max-height: 70px;
          line-height: 1.5rem;
          font-weight: 700;
        }
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          max-height: 70px;
          line-height: 1.5rem;
        }
      }
      .course-item-info {
        padding: 10px 20px;
        ul {
          li {
            display: flex;
            align-items: center;
            color: #4a5874;
          }
        }
      }
      span {
        margin-left: 5px;
        font-size: 13px;
      }
    }
    .course-item-footer {
      padding: 1rem 1rem;
      width: 100%;
      display: flex;
      vertical-align: middle;
      align-items: center;
      border-top: 1px solid #f0f1f5;
      .course-item-author {
        flex: 1 1;
        display: flex;
        align-items: center;
        .all-course-author-image {
          max-width: 35px;
          height: 35px;
          border-radius: 50%;
          display: inline-block;
          overflow: hidden;
          margin-right: 10px;
        }
        h6 {
          margin: 0;
          font-size: 13px;
          font-weight: 600;
          opacity: 1;
        }
      }
      .course-item-lecture {
        padding: 6px 15px;
        font-size: 13px;
        align-items: center;
        display: flex;
        justify-content: center;
        background: rgba(26, 120, 217, 0.1);
        border-radius: 50px;
        color: $color-default;
      }
    }
  }
}
